---
import ServicePlanCard from "./ServicePlanCard.astro";

const Services = [
  {
    planeName: "Basic",
    price: 29,
    advantages: [
      "Lorem ipsum dolor sit amet.",
      "Lorem ipsum dolor sit amet.",
      "Lorem ipsum dolor sit amet.",
    ],
  },

  {
    planeName: "Standard",
    price: 39,
    advantages: [
      "Lorem ipsum dolor sit amet.",
      "Lorem ipsum dolor sit amet.",
      "Lorem ipsum dolor sit amet.",
      "Lorem ipsum dolor sit amet.",
      "Lorem ipsum dolor sit amet.",
    ],
  },

  {
    planeName: "Premium",
    price: 59,
    advantages: [
      "Lorem ipsum dolor sit amet.",
      "Lorem ipsum dolor sit amet.",
      "Lorem ipsum dolor sit amet.",
      "Lorem ipsum dolor sit amet.",
      "Lorem ipsum dolor sit amet.",
      "Lorem ipsum dolor sit amet.",
    ],
  },
];
---

<div class="bg-cyan-100 mt-12">
  <h1 class="text-3xl text-center pt-6 font-bold">Our Service Plans</h1>
  <div class="mt-4 gap-24 mx-24 flex justify-center pb-8">
    {Services.map((service) => <ServicePlanCard service={service} />)}
  </div>
</div>
